<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spott.</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <style>
        .map {
            background: url("https://media.discordapp.net/attachments/1172181712550248518/1174912787613483019/Safeimagekit-resized-img.png?ex=656951cd&is=6556dccd&hm=15123db3ff7034e45506092d319b9baf36c1a1cb3eaf778ce28ad0eedb6937c6&=&width=1246&height=701");
            background-size:cover;
            width:1000px;
            height:500px;
        }
    </style>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
</head>
<body class="overflow-hidden text-black map">
  
    <!-- Autocomplee shit -->
    

    <section class="map w-[1600px] h-[900px] flex flex-col items-center justify-center gap-10">
        <form action="/spots" method="post" class="flex items-center flex-col gap-10 bg-white rounded-lg w-[400px] h-[500px] h-80 shadow-2xl">
            <h1 data-aos-duration="1500ms" data-aos="fade-up" class="pt-[32px] text-[40px] font-extrabold mt-[10px]">SPOTT.</h1>
            <div class="bg-gray-300 w-72 rounded-full h-[4px] mt-[-15px]"></div>
            <input class="hidden absolute"  type="text" name="latitude" id="lat" placeholder="Latitude: Locate first" value="">
            <input class="hidden absolute" type="text" name="longitude" id="long" placeholder="Longitude: Locate first" value="">
            <p class="text-center -mt-4">Spott takes your location and finds the closest parking spot</p>
            <button type="submit" class="w-8 h-8 bg-black ml-[12rem] rounded-full mt-[-8px] text-white flex items-center justify-center"><i class="fa-solid fa-arrow-right" onclick="DoWork()"></i></button> 
              <div class="flex gap-4">
                <input type="checkbox" id = 'disabled' name="disabled" value="False" onclick="TrueFalse()">  
                  Disability (if any) 
              </div>
              <div class="-ml-3 flex gap-4 -mt-8">
                <input type="checkbox" id = 'disabled' name="electric" value="False" onclick="TrueFalse()">  
                    Electric Vehicle
              </div>  
        </form>

        <button class="font-bold bg-black text-white rounded-lg w-[10vw] h-[5vh] text-black mt-[-7rem]" onclick="getLocation()">
          Locate me
      </button>
      <script>
          var x = document.getElementById("lat");
          var y = document.getElementById("long");
          console.log(x.value);
          console.log(y.value)
          function getLocation() {
              if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(showPosition);
              }
          }
      
          function showPosition(position) {
              x.value = position.coords.latitude;
              y.value = position.coords.longitude;
              
              console.log(posi.coord.latitude)
          }

          function TrueFalse(){
              var disabled = document.getElementById("disabled")
              if (disabled.value=="False") {disabled.value="True"}
              else {disabled.value="False"}
          }
          function TrueFalse1(){
              var disabled = document.getElementById("electric")
              if (disabled.value=="False") {disabled.value="True"}
              else {disabled.value="False"}
          }
      </script>
        
        
    </section>
</body>
<script>
    AOS.init();
  </script>
</html>