<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spott.</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <style>
        .map {
            background: url("https://media.discordapp.net/attachments/1172181712550248518/1174255371410477178/image-2SGaxhKm8-transformed.png?ex=6566ed89&is=65547889&hm=f740b6604c5f0b5dfea0fe59dfb17b6608b27eb6d5055341fe0f06f30bb61c84&=&width=1202&height=701");
            background-size:cover;
            width:1000px;
            height:500px;
        }
    </style>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
</head>
<body class="overflow-hidden text-black map">
    <section class="map w-[100vw] h-[100vh] flex flex-col items-center justify-center gap-10">
        <form action="/spots" method="post" class="flex items-center flex-col gap-10 bg-white rounded-lg w-80 h-80 shadow-2xl">
            <h1 data-aos-duration="1500ms" data-aos="fade-up" class="pt-[32px] text-[40px] font-extrabold mt-[10px]">SPOTT.</h1>
            <input class="hidden absolute"  type="text" name="latitude" id="lat" placeholder="Latitude: Locate first" value="">
            <input class="hidden absolute" type="text" name="longitude" id="long" placeholder="Longitude: Locate first" value="">
            <div class="bg-gray-300 w-72 rounded-full h-[4px] mt-[-15px]"></div>
            <p class="text-center">Spott takes your location and finds the closest parking spot</p>
            <button type="submit" class="w-8 h-8 bg-black ml-[12rem] rounded-full mt-[-8px] text-white flex items-center justify-center"><i class="fa-solid fa-arrow-right"></i></button>

        </form>
        <button class="font-bold bg-black text-white rounded-lg w-[10vw] h-[5vh] text-black mt-[-7rem]" onclick="getLocation()">
            Locate me
        </button>
        <input type="checkbox">
        <script>
            var x = document.getElementById("lat");
            var y = document.getElementById("long");
            console.log(x.value);
            console.log(y.value)
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                }
            }
        
            function showPosition(position) {
                x.value = position.coords.latitude;
                y.value = position.coords.longitude;
                console.log(posi.coord.latitude)
            }
        </script>
    </section>
</body>
<script>
    AOS.init();
  </script>
</html>